/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.lock
.ruby-gemset
.ruby-version
newicks
/test_files
sandbox
.coveralls.yml
spec/test_files/nexus_files/output.nex
.idea
.DS_Store
spec/.DS_Store
